In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from api_key import api_key
from pprint import pprint

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

#import weather map wrapper
import openweathermapy as owm

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

602

In [3]:
#create cities dataframe
cities_df = pd.DataFrame(cities)

#rename header for cities column
cities_df = cities_df.rename(columns={0: 'City'})
cities_df

                  City
0             qaqortoq
1    sao joao da barra
2                kapaa
3             cherskiy
4               albany
..                 ...
597       port augusta
598            aksarka
599         hervey bay
600               heze
601            andenes

[602 rows x 1 columns]

In [9]:
cities_df["Cloudiness"] = ""
cities_df["Country"] = ""
cities_df["Date"] = ""
cities_df["Humidity"] = "" 
cities_df["Lat"] = ""
cities_df["Lng"]  = ""
cities_df["Max Temp"] = ""
cities_df["Wind Speed"] = ""
# cities_df.head()

#wrapper
settings = {"units": "imperial", "appid": api_key}

#create weather series
wx_data_series = []

api_calls = 0

error = 0

print("Retrieving Data")

for index, row in cities_df.iterrows():
    try:
        wx_data_series.append(owm.get_current(row[0], **settings))
        print(f'City # {index}: {row[0]}')
        cities_df.loc[index, "Cloudiness"] = wx_data_series[index]["clouds"]["all"]
        cities_df.loc[index, "Country"] = wx_data_series[index]["sys"]["country"]
        cities_df.loc[index, "Date"] = wx_data_series[index]["dt"]
        cities_df.loc[index, "Humidity"] = wx_data_series[index]["main"]["humidity"]
        cities_df.loc[index, "Lat"] = wx_data_series[index]["coord"]["lat"]
        cities_df.loc[index, "Lng"] = wx_data_series[index]["coord"]["lon"]
        cities_df.loc[index, "Max Temp"] = wx_data_series[index]["main"]["temp_max"]
        cities_df.loc[index, "Wind Speed"] = wx_data_series[index]["wind"]["speed"]
        
    except Exception as e:

        wx_data_series.append(f"{row[0]} not found.")
        error +=1
        
    api_calls +=1
    
    if api_calls >=60:
        print("----------PAUSE FOR API CALLS LIMIT----------")
        time.sleep(60)
        api_calls = 0
        
    continue
    
print("Data Retrieval Complete")

Retrieving Data
City # 0: qaqortoq
City # 1: sao joao da barra
City # 2: kapaa
City # 3: cherskiy
City # 4: albany
City # 5: rikitea
City # 6: chumikan
City # 7: busselton
City # 8: mar del plata
City # 9: punta arenas
City # 10: wasserburg
City # 11: cape town
City # 12: castro
City # 13: lebu
City # 14: manta
City # 15: port alfred
City # 16: katobu
City # 17: lavrentiya
City # 18: quatre cocos
City # 19: sept-iles
City # 20: butterworth
City # 21: carnarvon
City # 22: puerto ayora
City # 23: longyearbyen
City # 24: iqaluit
City # 25: woodstock
City # 26: atuona
City # 28: kaitangata
City # 29: beringovskiy
City # 31: barrow
City # 32: hermanus
City # 33: torbay
City # 34: dingle
City # 35: butaritari
City # 36: isangel
City # 37: saint george
City # 38: bandarbeyla
City # 39: hilo
City # 40: komsomolskiy
City # 41: thompson
City # 42: dali
City # 43: sabha
City # 44: huicungo
City # 45: lumeje
City # 46: diu
City # 47: vaini
City # 48: jamestown
City # 49: mehamn
City # 50: havoysund
City # 51: yellowknife
City # 52: altamont
City # 53: bredasdorp
City # 54: vilyuysk
City # 55: faya
City # 56: ulladulla
City # 57: kavaratti
City # 58: shuyskoye
City # 59: mataura
----------PAUSE FOR API CALLS LIMIT----------
City # 60: bethel
City # 61: sunndalsora
City # 62: veraval
City # 63: new norfolk
City # 64: laguna
City # 67: abu samrah
City # 68: nacala
City # 69: aykhal
City # 70: reims
City # 71: lorengau
City # 73: san policarpo
City # 74: coihaique
City # 75: empalme
City # 76: bluff
City # 77: merrill
City # 78: ushuaia
City # 79: khani
City # 80: tazovskiy
City # 81: burnie
City # 84: changli
City # 87: provideniya
City # 88: dekar
City # 90: coquimbo
City # 91: klaksvik
City # 92: bassano
City # 93: ribeira grande
City # 94: talnakh
City # 95: shalyhyne
City # 96: sandy bay
City # 97: barra dos coqueiros
City # 99: padang
City # 101: pisco
City # 102: qaanaaq
City # 103: hobart
City # 104: zhigansk
City # 105: sleaford
City # 106: avarua
City # 107: marrakesh
City # 108: port macquarie
City # 109: pulandian
City # 110: husavik
City # 111: galle
City # 112: sur
City # 113: ewa beach
City # 114: puerto escondido
City # 115: karla
City # 116: kirakira
City # 117: hildburghausen
City # 118: saint-philippe
City # 119: marystown
----------PAUSE FOR API CALLS LIMIT----------
City # 120: luderitz
City # 121: kudahuvadhoo
City # 122: khatanga
City # 123: aracati
City # 124: tiksi
City # 125: yulara
City # 126: bathsheba
City # 127: mangai
City # 128: katsuura
City # 129: tilichiki
City # 130: san patricio
City # 131: poum
City # 132: souillac
City # 133: fortuna
City # 134: narsaq
City # 136: praia da vitoria
City # 137: pangnirtung
City # 138: yumen
City # 139: batagay-alyta
City # 140: moindou
City # 141: east london
City # 142: inyonga
City # 143: dikson
City # 144: praya
City # 147: kahului
City # 149: atbasar
City # 150: esperance
City # 151: tuktoyaktuk
City # 152: mount gambier
City # 153: aswan
City # 154: kachug
City # 155: roald
City # 156: saskylakh
City # 157: shimoda
City # 158: port blair
City # 160: parsabad
City # 161: inirida
City # 162: polovinnoye
City # 163: kununurra
City # 164: kamenka
City # 165: rio gallegos
City # 166: port elizabeth
City # 167: umm lajj
City # 168: chiang klang
City # 170: port lincoln
City # 171: nikolskoye
City # 172: mahebourg
City # 173: arraial do cabo
City # 174: henties bay
City # 175: karratha
City # 176: porto novo
City # 178: oussouye
City # 179: namatanai
----------PAUSE FOR API CALLS LIMIT----------
City # 180: aklavik
City # 181: carhuamayo
City # 182: grants
City # 183: sayan
City # 184: bulawayo
City # 185: vallenar
City # 186: nioro
City # 187: ruteng
City # 188: salalah
City # 189: miraflores
City # 191: tateyama
City # 192: kastornoye
City # 194: yerbogachen
City # 195: yamada
City # 196: guerrero negro
City # 197: ahipara
City # 198: beidao
City # 199: pitimbu
City # 200: naze
City # 202: popondetta
City # 203: mount isa
City # 204: muskogee
City # 205: takoradi
City # 206: bilibino
City # 207: cururupu
City # 208: zahnitkiv
City # 210: faanui
City # 211: kenai
City # 212: georgetown
City # 214: chara
City # 215: poronaysk
City # 216: constitucion
City # 217: bolitoc
City # 218: hithadhoo
City # 219: havre-saint-pierre
City # 220: pitiquito
City # 222: flin flon
City # 223: hay river
City # 225: margate
City # 226: saldanha
City # 228: shankargarh
City # 229: bonavista
City # 230: upernavik
City # 231: kavieng
City # 232: soe
City # 233: ixtapa
City # 234: jiuquan
City # 235: ezerelis
City # 236: ljungby
City # 237: bubaque
City # 238: celestun
City # 239: ancud
----------PAUSE FOR API CALLS LIMIT----------
City # 240: pennagaram
City # 241: melfi
City # 242: los llanos de aridane
City # 243: norman wells
City # 244: vao
City # 245: namibe
City # 246: saint-augustin
City # 247: licheng
City # 248: torrington
City # 250: chicama
City # 251: tasiilaq
City # 253: kitahiroshima
City # 255: jinchang
City # 256: trinidad
City # 257: ponta do sol
City # 258: oranjemund
City # 259: severo-kurilsk
City # 260: mazatlan
City # 261: onega
City # 262: vila velha
City # 263: college
City # 265: ashtabula
City # 266: chuy
City # 267: rubizhne
City # 268: vila franca do campo
City # 269: hirara
City # 270: pevek
City # 271: chokurdakh
City # 272: kindu
City # 274: muroto
City # 275: wum
City # 276: sitka
City # 277: bar harbor
City # 278: arman
City # 279: porto murtinho
City # 280: bambous virieux
City # 281: jizan
City # 282: kanlagay
City # 283: salym
City # 284: paralimni
City # 285: doba
City # 286: pacific grove
City # 287: tura
City # 288: portland
City # 289: ayagoz
City # 290: jumla
City # 292: gimli
City # 293: cartagena
City # 294: loa janan
City # 295: opuwo
City # 296: marzuq
City # 297: nyon
City # 298: namtsy
City # 299: atambua
----------PAUSE FOR API CALLS LIMIT----------
City # 300: george
City # 301: victoria
City # 302: mayumba
City # 303: channel-port aux basques
City # 304: porosozero
City # 305: hovd
City # 306: xam nua
City # 307: bonoua
City # 308: manado
City # 309: morondava
City # 310: leningradskiy
City # 311: nikolayevsk-na-amure
City # 312: touros
City # 313: taree
City # 314: shellbrook
City # 315: santa cruz
City # 316: vestmanna
City # 317: masallatah
City # 318: kruisfontein
City # 319: campbell river
City # 320: byron bay
City # 322: bow island
City # 323: cabo san lucas
City # 324: cidreira
City # 325: shimabara
City # 327: majene
City # 328: marabba
City # 329: lieksa
City # 330: sola
City # 331: kibala
City # 332: lagoa
City # 333: mujiayingzi
City # 334: talcahuano
City # 335: teramo
City # 336: mitsamiouli
City # 337: slobozia
City # 338: voi
City # 339: jaisalmer
City # 340: mezen
City # 341: mao
City # 342: tautira
City # 343: marsabit
City # 344: sampit
City # 345: ilulissat
City # 346: jadu
City # 347: manati
City # 348: la ronge
City # 349: flinders
City # 350: wasilla
City # 351: olga
City # 352: inongo
City # 353: usinsk
City # 354: camapua
City # 355: samarai
City # 356: sant julia de loria
City # 357: hasaki
City # 358: antofagasta
City # 359: onguday
----------PAUSE FOR API CALLS LIMIT----------
City # 360: mizoch
City # 361: zaraza
City # 362: sao filipe
City # 363: lumphat
City # 364: san vicente
City # 365: tuatapere
City # 366: bom jesus
City # 367: tabou
City # 368: priiskovyy
City # 369: mandera
City # 370: walsrode
City # 371: kennett
City # 372: lufilufi
City # 373: chikwawa
City # 374: san cristobal
City # 375: tucuman
City # 376: hamilton
City # 377: freeport
City # 378: alofi
City # 379: valparaiso
City # 380: gaoyou
City # 381: geraldton
City # 382: sandwick
City # 383: dolinsk
City # 384: ulvik
City # 385: hobyo
City # 386: clyde river
City # 387: magadan
City # 388: kodiak
City # 389: camacha
City # 390: xapuri
City # 391: yeniseysk
City # 392: aleksandrovskoye
City # 393: tessalit
City # 394: necochea
City # 395: hofn
City # 396: kandrian
City # 397: takapau
City # 398: cayenne
City # 399: kultuk
City # 401: nassjo
City # 402: westport
City # 403: seymchan
City # 404: port-gentil
City # 405: evensk
City # 406: neiafu
City # 407: anzhero-sudzhensk
City # 408: oruro
City # 410: kochubey
City # 411: boyolangu
City # 413: oga
City # 414: esenyurt

City # 416: umea
City # 417: ankang
City # 418: challapata
----------PAUSE FOR API CALLS LIMIT----------
City # 420: bhanjanagar
City # 421: lompoc
City # 423: muscat
City # 424: verkh-usugli
City # 426: kemise
City # 427: fort nelson
City # 428: malaryta
City # 429: tiverton
City # 430: masuguru
City # 431: shangzhi
City # 432: tuy hoa
City # 433: yangambi
City # 434: ossora
City # 435: haines junction
City # 436: ondangwa
City # 437: skagen
City # 439: luoyang
City # 441: walvis bay
City # 442: saint-denis
City # 443: deputatskiy
City # 444: tigil
City # 445: manadhoo
City # 446: anadyr
City # 447: bukachacha
City # 449: cape coast
City # 450: barcelos
City # 451: kupang
City # 452: carbonia
City # 453: matara
City # 454: kailua
City # 455: meulaboh
City # 456: gorin
City # 457: sangod
City # 458: vengurla
City # 459: zhezkazgan
City # 460: berlevag
City # 461: buraydah
City # 462: yenagoa
City # 463: hoi an
City # 464: birjand
City # 466: baykit
City # 469: kwinana
City # 470: crowley
City # 471: sorland
City # 472: pareora
City # 473: cibitoke
City # 475: mantua
City # 477: cuamba
City # 478: cowra
----------PAUSE FOR API CALLS LIMIT----------
City # 480: buckeye
City # 481: kaili
City # 482: saint-georges
City # 483: foix
City # 484: aripuana
City # 485: ust-nera
City # 487: richards bay
City # 488: eregli
City # 489: merauke
City # 490: rawson
City # 491: ambilobe
City # 492: nieuw amsterdam
City # 493: sidi ali
City # 494: rafsanjan
City # 495: sayyan
City # 496: ginda
City # 497: surt
City # 498: buala
City # 499: chapadinha
City # 500: cockburn town
City # 502: den helder
City # 503: kautokeino
City # 505: rolla
City # 506: la palma
City # 507: toora-khem
City # 508: rokytne
City # 509: sisimiut
City # 510: chirongui
City # 511: olinda
City # 512: gemena
City # 513: barkly west
City # 514: fuling
City # 515: anloga
City # 516: airai
City # 517: kotma
City # 518: ibipeba
City # 519: konevo
City # 520: reconquista
City # 522: ketchikan
City # 523: nouadhibou
City # 524: san joaquin
City # 525: suluq
City # 526: grand gaube
City # 527: kiunga
City # 528: vinh
City # 529: moyale
City # 530: yelahanka
City # 531: neuquen
City # 532: amga
City # 533: gobabis
City # 534: araouane
City # 535: nishihara
City # 536: chimichagua
City # 537: partur
City # 538: bonnyville
City # 539: tabas
----------PAUSE FOR API CALLS LIMIT----------
City # 543: chabahar
City # 544: san juan
City # 545: malanje
City # 546: coromandel
City # 547: whitehorse
City # 548: ostrovnoy
City # 549: kristiansund
City # 550: ranong
City # 551: nanortalik
City # 552: adre
City # 553: dongzhen
City # 554: batagay
City # 555: kharan
City # 557: baruun-urt
City # 558: aquiraz
City # 559: marsh harbour
City # 560: kota belud
City # 561: tevriz
City # 562: priargunsk
City # 563: sambava
City # 564: kargopol
City # 565: conde
City # 566: grindavik
City # 568: energeticheskiy
City # 569: alice springs
City # 570: dembi dolo
City # 571: halchiu
City # 572: goderich
City # 573: maceio
City # 574: san ramon de la nueva oran
City # 575: bonthe
City # 576: okha
City # 577: nouakchott
City # 578: sarangani
City # 579: nerchinskiy zavod
City # 580: adrar
City # 581: manitouwadge
City # 582: gizo
City # 583: kozhva
City # 584: ramchandrapur
City # 585: port hardy
City # 586: xining
City # 587: jalapa
City # 588: beloha
City # 589: osypenko
City # 590: beihai
City # 591: makakilo city
City # 592: talakan
City # 594: karwar
City # 595: ondjiva
City # 596: dubrovytsya
City # 597: port augusta
City # 598: aksarka
City # 599: hervey bay
----------PAUSE FOR API CALLS LIMIT----------
City # 600: heze
Data Retrieval Complete

In [11]:
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,qaqortoq,57,GL,1574562429,49,60.72,-46.03,23,3.36
1,sao joao da barra,100,BR,1574562429,87,-21.64,-41.05,73.9,18.14
2,kapaa,90,US,1574562163,74,22.08,-159.32,84.2,16.11
3,cherskiy,18,RU,1574562429,92,68.75,161.3,-28.32,3.6
4,albany,75,US,1574562429,55,42.65,-73.75,36,3.36
...,...,...,...,...,...,...,...,...,...
597,port augusta,0,AU,1574563195,49,-32.49,137.76,73.4,10.29
598,aksarka,0,RU,1574563195,81,66.56,67.8,-6.86,5.03
599,hervey bay,75,AU,1574563195,39,-25.3,152.85,82.4,14.99
600,heze,100,CN,1574563255,52,35.25,115.45,58.03,19.91
601,andenes,,,,,,,,

In [16]:
cities_df['Cloudiness'].replace('', np.nan, inplace=True)

In [17]:
cities_df.dropna(subset=['Cloudiness'],inplace=True)

In [18]:
cities_df.count()

City          540
Cloudiness    540
Country       540
Date          540
Humidity      540
Lat           540
Lng           540
Max Temp      540
Wind Speed    540
dtype: int64

In [24]:
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,qaqortoq,57.0,GL,1574562429,49,60.72,-46.03,23,3.36
1,sao joao da barra,100.0,BR,1574562429,87,-21.64,-41.05,73.9,18.14
2,kapaa,90.0,US,1574562163,74,22.08,-159.32,84.2,16.11
3,cherskiy,18.0,RU,1574562429,92,68.75,161.3,-28.32,3.6
4,albany,75.0,US,1574562429,55,42.65,-73.75,36,3.36
...,...,...,...,...,...,...,...,...,...
596,dubrovytsya,100.0,UA,1574563195,41,51.57,26.57,27.03,11.16
597,port augusta,0.0,AU,1574563195,49,-32.49,137.76,73.4,10.29
598,aksarka,0.0,RU,1574563195,81,66.56,67.8,-6.86,5.03
599,hervey bay,75.0,AU,1574563195,39,-25.3,152.85,82.4,14.99
600,heze,100.0,CN,1574563255,52,35.25,115.45,58.03,19.91

In [26]:
cities_df.to_csv("Cities.csv", encoding="utf-8", index=False)